.card.card-login {
    background-color: #a902c9 !important;
}

.ftco-section.ftco-section-2 {
    height: 100vh;
}

.modal-content {
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    border-radius: 3rem !important;
  box-shadow: 0px 26px 29px -13px rgba(0, 0, 0, 1) !important; 
}

.modal-body {
    text-align: center !important;
}

.button{
    display: inline-flex;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    /* border: 1px solid #fd3535; */
    background: #fda925;
  }

a {
      color: #fff !important;
}

  .button:hover{
    background: linear-gradient(147deg, #fda925 0%, #fd3535 84%);
    -webkit-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
  }

  a {
      color: #fff !important;
  }

  a i {
      color: #343a40;
  }

  