body {
    background-color: #fff  !important;
}

h1 {
    font-weight: 600 !important;
    color: #fff !important;
}

h4 {
    margin: 2rem !important;
    color: #fff !important;
    font-family: 'Open Sans';
}

.contain {
    background-image: image('./assets/tela.jpg');
    width: 100vw;
}
.list-users {
    margin: 0 3rem;
}

.center {
    justify-items: center;
    text-align: center;
    margin: 1rem
}

.button {
    font-size: 1rem !important;
    margin:1rem;
}

.card {
    box-shadow: 0 10px 40px 0 rgba(62,57,107,.07), 8px 27px 9px 10px rgba(62,57,107,.06) !important;
    transition: all 0.5s;
    background-color: #fda925 !important;
    margin: 1rem;
}

.card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

i {
    font-size: 4rem;
    font-weight: 600;
}